<!DOCTYPE html>
<html>
<head>
  <title>Вакансии</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="<?php echo PATH_TO_CSS."global.css ?>">
</head>

<body>
  <!-- фон блока контента --> 
  <div class="content_bg">
    <!-- блок контента -->
    <div class="content">

      <!-- блок меню -->
      
      <div class="menu">
<?php 
        foreach ($menu as $v) {
?>
        <a href="/<?php echo $v?>">
          <div class=" <?php if ($_GET['page'] == $v) { echo "menu_cell_active"; } else { echo "menu_cell"; } ?> ">
            <?php echo $v ?> <span></span>
          </div>
        </a>
<?php 
        } 
?>


      <!-- блок лого -->
      <div class="logo">
        <a href="index.php"><img src="/img/logo.png" alt="company logo"></a>
      </div>
      <div class="logo"><p>the best quality products</p></div>
      <div class="reset"></div>



      <!-- меню футер -->
      <div class="footer_menu">

        <ul>
<?php 
        for ($i=0; $i<$menu_size; $i++) {
          if ($i == ($menu_size-1)) {
?>
          <li class="<?php if ($_SESSION['page']==$menu[$i]) { echo "active"; } else { echo ""; } ?> last"><a href="index.php?page=<?php echo $menu[$i] ?>"><?php echo $menu[$i] ?></a></li>
<?php 
          }
          else { 
?>
          <li class="<?php if ($_SESSION['page']==$menu[$i]) { echo "active"; } else { echo ""; } ?>" ><a href="index.php?page=<?php echo $menu[$i] ?>"><?php echo $menu[$i] ?></a></li>
<?php
          }
        }
?>


        </ul>
        <div class="reset"></div>
      </div>

      <div class="footer_social">
        <a class="fb_icon" href="index.php"></a>
        <p>
          <span>What's Happening on Facebook</span><br>
          Bayarsety kertya aset aplicaboes kerasaer
        </p>
      </div>
      <div class="reset"></div>

      <hr>

      <div class="copyright">
        
        <p> Agro.United © <?php if (CREATED>=$now) {echo CREATED;} else {echo CREATED."-".$now;} ?> <img src="/img/smalllogo.png" alt=""> <a href="index.php ">privacy policy</a></p>

      </div>

    </div>

  </div>

</body>
</html>
