AddDefaultCharset UTF-8
php_flag display_errors ON
RewriteEngine On

RewriteCond %{REQUEST_FILENAME}  !-f
RewriteCond %{REQUEST_FILENAME}  !-d
RewriteRule ^(js|img|css|favicon\.ico)/ - [L,QSA,S=2]
RewriteRule ^admin\/(.*)$ index.php?route=$1 [L,QSA]

#RewriteCond %{REQUEST_FILENAME}  !-f
#RewriteCond %{REQUEST_FILENAME}  !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]